.list-form__content {
    display: flex;
    flex-direction: column;
    border: 1px solid #E1E1E1;
    border-radius: 36px;
    padding: 17px 26px;
    box-sizing: border-box;
    margin-bottom: 12px;
    min-height: 6vh;
}

.list-form__header {
    display: flex;
}

.list-form__title-wrapper {
    flex: 1;
    display: flex;
}

.list-form__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    border: none;
    margin-left: 8px;
    width: 100%;
}
.list-form__title:focus {
    outline-width: 0;
}
.list-form__title::-webkit-input-placeholder {
    color: rgba(70, 89, 255, 0.5);
}

.list-form-button__add-list-item {
    margin-right: 10px;
}

.list-form__expand {
    height: 17px;
    border: 1px solid #E1E1E1;
    border-radius: 36px;
    padding: 17px 26px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.expand-list-button {
    margin-left: 10.5px;
}

