.text-input {
    border: 1px solid #E1E1E1;
    border-radius: 36px;
    min-height: 37px;
    padding: 0 15px 0 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(70, 89, 255);
    margin-bottom: 16px;
}

.text-input:focus {
    outline-width: 0;
}

.text-input::-webkit-input-placeholder {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(70, 89, 255, 0.5);
}