.auth-content-wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 15vh;
    box-sizing: border-box;
}

.auth-form{
    width: 305px;
    height: fit-content;
    box-shadow: 0px 6px 19px 5px rgba(0, 0, 0, 0.2);
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box;
    padding: 19px 23px 29px 23px;
}

.title{
    margin: 0 0 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-size: 36px;
    color: #4659FF;
}
.title:hover{cursor: default}

.descriptive-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #353535;
    margin: 0 0 33px;
}
.descriptive-text:hover{cursor: default}

.descriptive-text--link {
    margin: 0;
    color: #4659FF;
    display: inline-block;
    text-decoration: underline;
}
.descriptive-text--link:hover{
    cursor: pointer;
}

.auth-form__sign-up-link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.text-input {
    border: 1px solid #E1E1E1;
    border-radius: 36px;
    min-height: 37px;
    padding-left: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(70, 89, 255);
    margin-bottom: 20px;
}
.last-text-input{
    margin-bottom: 16px;
}

.text-input:focus {
    outline-width: 0;
}

.text-input::-webkit-input-placeholder {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(70, 89, 255, 0.5);
}

.button {
    min-height: 37px;
    border: none;
    box-sizing: content-box;
    background: #4659FF;
    border-radius: 36px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.button:hover{cursor: pointer}
.button:active {
    background: #323ba8;
}

.auth-form_warning-wrapper {
    text-align: center;
    color: red;
    min-height: 21px;
    margin: 0 0 20px 0;
}